{% extends "base.html" %}
{% block title %}Workforce List{% endblock %}
{% block content %}
<h2>Workforce List</h2>
<a href="{% url 'workforce_add' %}">Add Workforce</a>
<ul>
    {% for workforce in workforces %}
        <li>
            <a href="{% url 'workforce_detail' workforce.pk %}">{{ workforce.name }}</a>
            ({{ workforce.position }})
            <a href="{% url 'workforce_edit' workforce.pk %}">Edit</a>
            <a href="{% url 'workforce_delete' workforce.pk %}">Delete</a>
        </li>
    {% empty %}
        <li>No workforce found.</li>
    {% endfor %}
</ul>
{% endblock %}